@CHARSET "UTF-8";
html{
	overflow: hidden;
}
#header {
	color:#fff;
	height:80px;
	background:#278296 url(../images/alogo.png) no-repeat left top;
}
#header p {
	height:53px;
	line-height:53px;
	text-align:right;
	padding:0 20px 0 0;
}
#header ul {
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	height:25px;
	line-height:25px;
	background:#80BDCB;
	padding:0 0 0 50px;
}
#header ul li {
	width:120px;
	text-align:center;
	border-right:1px solid #333;
	float:left;
}
#header ul li.first {
	border-left:1px solid #333;	
}
#header ul li a {
	color:#335B64;
	text-decoration:none;
	display:block;
	font-weight:bold;
	letter-spacing:2px;
	background:#9CCBD6;
}
#header ul li a:hover {
	color:#000;
	background:#80BDCB;
}
#sidebar {
	width:200px;
	background:#278296;
	float:left;
}
#sidebar dl{
	width:80%;
	border:1px solid #333;
	background: #fff;
	margin: 10px auto;
	padding:10px;
}
#sidebar dl dt{
	color:#335B64;
	font-weight:bold;
	height:20px;
	line-height:20px;
	padding:0 0 0 15px;
	background: url(../images/nav1.gif) no-repeat left center;
}
#sidebar dl dd{
	height:20px;
	line-height:20px;
	padding:0 0 0 30px;
	background: url(../images/nav2.gif) no-repeat 15px center;
}
#main {
	float:right;
	background:#DDEEF2;
}
#main iframe {
	border:none;
	height:100%;
	width:100%;
}